<html>
<head>

  <title>
    Dashboard
  </title>

<style>



</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
$.myjQuery = function(id_for_checkbox, id_for_span, id_for_expand_tab, task_title, task_id) {
      li = document.createElement("li");
      li.id = id_for_expand_tab;
      input = document.createElement("input");
      input.id = id_for_checkbox;
      input.className = "status_of_task";
      input.type = "checkbox";
      input.value = task_id;
      span = document.createElement("span");
      span.id = id_for_span;
      span.className = "task_title";
      console.log("tab to expand" + id_for_expand_tab);
      span.onclick = function(){expand_tab();};
      span.textContent = task_title;
      li.appendChild(input);
      li.appendChild(span);
      ul = document.getElementById("Tasks");
      ul.appendChild(li);
  };

</script>

</head>
<body>
<div id = "container">
  <h1>
    Yo! Lets plan something.
  </h1>
  <div id ="scheduled_tasks">
    <h2>
      Scheduled Tasks
    </h2>
    {% if scheduled_tasks %}
    <ul id = "Tasks">
      {% for task in scheduled_tasks %}

        <script>
        var id_for_span = "span_task_";
        var id_for_checkbox = "checkbox_task_";
        var id_for_expand_tab = "tab_";
        id_for_expand_tab += {{ task.id}};
        id_for_span += {{ task.id }};
        id_for_checkbox += {{ task.id }};
        console.log(id_for_span);
        console.log(id_for_expand_tab);
        $.myjQuery(id_for_checkbox, id_for_span, id_for_expand_tab, "{{ task.task_title }}", {{ task.id }});

        </script>


      {% endfor %}
    </ul>
    {% else %}
      There is no Scheduled Task.
    {% endif %}
  </div>
</div>
<script>
function make_table(data) {
  //Make table and print

}



//sending json object to update database
$(document).ready(function() {
$(".status_of_task").click(function () {
  var task_id = $(this).val();
  var status = $(this).is(":checked");

  var obj = {'id':task_id,'status':status};
  console.log(obj);
  $.ajax({
       url: '/change_task_status/',
       data: obj,
       dataType: 'json',
       success: function (data) {
         console.log(data.data_saved);
         if (data.data_saved) {
           make_strike(data.span_id);
         }
       }
     });

});
});
</script>
<script>
function expand_task(data_obj) {

//sending json to get back the data to show expanded version
  $(document).ready(function() {
  $(".status_of_task").click(function () {
    var task_id = $(this).val();
    var status = $(this).is(":checked");

    var obj = {'id':task_id};
    console.log(obj);
    $.ajax({
         url: '/get/details/',
         data: obj,
         dataType: 'json',
         success: function (data) {
           console.log(data.data_deliverd);
           if (data.data_deliverd) {
             make_table(data);
           }
         }
       });

  });
  });


}

//to make the text have a line through it if the task is done.
function make_strike(id_name){
  var checkbox_id = "checkbox_task_";
  checkbox_id += id_name.slice(10, );
  console.log(checkbox_id);
  var checkbox = document.getElementById(checkbox_id);
  if(!checkbox.checked){
  document.getElementById(id_name).style.textDecoration = null;
  }
  else{
  document.getElementById(id_name).style.textDecoration = "line-through";
  }
}

//to make expandable blocks
function expand_tab(tab_name) {
  var x,i;
  x = document.getElementsByClassName('task_title');
  for (i = 0; i < x.length; i++){
    x[i].style.display = "none";
  }

console.log(document.getElementById(tab_name));
document.getElementById(tab_name).style.display = "block"
}

</script>

</body>
</html>
