<html>
<head>

  <title>
    Dashboard
  </title>

<style>



</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
//to make the text have a line through it if the task is done.
function make_strike(id_name){
  var checkbox_id = "checkbox_task_";
  checkbox_id += id_name.slice(10, );
  console.log("CHECKBOX------");
  var checkbox = document.getElementById(checkbox_id);
  console.log(checkbox);


    if(!checkbox.checked){
      document.getElementById(id_name).style.textDecoration = null;

    }
    else{
      document.getElementById(id_name).style.textDecoration = "line-through";
    }
}

$.task_list_jQuery = function(table_id, id_for_checkbox, id_for_span, id_for_expand_tab, task_title, task_id,task_status) {
      li = document.createElement("li");
      li.id = id_for_expand_tab;
      input = document.createElement("input");
      input.id = id_for_checkbox;
      input.className = "status_of_task";
      input.type = "checkbox";
      input.value = task_id;
      console.log("CHECKBOX++++++  " + task_status);
      if (task_status == "True"){
        input.checked = true;
      }
      else{
        input.checked = false;
      }
      span = document.createElement("span");
      span.id = id_for_span;
      if (task_status == "True"){
      span.style.textDecoration = "line-through";
      }
      span.className = "task_title";
      //console.log("tab to expand" + id_for_expand_tab);
      span.onclick = function(){expand_tab(table_id);};
      span.textContent = task_title;
      li.appendChild(input);
      li.appendChild(span);
      ul = document.getElementById("Tasks");
      ul.appendChild(li);
  };
$.task_description_jQuery = function(table_id,task_title,task_description,task_published,task_scheduled,task_done_flag,li_name){
    div = document.createElement("div");

    table = document.createElement("table");
    table.className = "task_description";
    table.id = table_id
    table.hidden ="true";

    tr_title = document.createElement("tr");
    th_title = document.createElement("th");
    th_title.textContent = "Title";
    td_title = document.createElement("td");
    td_title.textContent = task_title;
    tr_title.appendChild(th_title);
    tr_title.appendChild(td_title);
    table.appendChild(tr_title);

    tr_description = document.createElement("tr");
    th_description = document.createElement("th");
    th_description.textContent = "Description";
    td_description = document.createElement("td");
    td_description.textContent = task_description;
    tr_description.appendChild(th_description);
    tr_description.appendChild(td_description);
    table.appendChild(tr_description);


    tr_published = document.createElement("tr");
    th_published = document.createElement("th");
    th_published.textContent = "Published on";
    td_published = document.createElement("td");
    td_published.textContent = task_published;
    tr_published.appendChild(th_published);
    tr_published.appendChild(td_published);
    table.appendChild(tr_published);


    tr_scheduled =  document.createElement("tr");
    th_scheduled = document.createElement("th");
    th_scheduled.textContent = "Schecduled for";
    td_scheduled = document.createElement("td");
    td_scheduled.textContent = task_scheduled;
    tr_scheduled.appendChild(th_scheduled);
    tr_scheduled.appendChild(td_scheduled);
    table.appendChild(tr_scheduled);


    tr_status = document.createElement("tr");
    th_status = document.createElement("th");
    th_status.textContent = "Status";
    td_status = document.createElement("td");
    td_status.textContent = task_done_flag;
    tr_status.appendChild(th_status);
    tr_status.appendChild(td_status);
    table.appendChild(tr_status);
    //console.log(table)
    table.border = "solid";
    table.width = "500px";
    div.appendChild(table)
    document.getElementById(li_name).appendChild(div);
    // <table>
    //   <tr><th>Thead</th><th>Th</th></tr>
    //   <tr><th>Thead</th><th>Th</th></tr>
    // </table>

}



//sending json object to update database
$(document).ready(function() {
$(".status_of_task").click(function () {
  var task_id = $(this).val();
  var status = $(this).is(":checked");

  var obj = {'id':task_id,'status':status};
  //console.log(obj);
  $.ajax({
       url: '/change_task_status/',
       data: obj,
       dataType: 'json',
       success: function (data) {
         //console.log(data.data_saved);
         if (data.data_saved) {
           make_strike(data.span_id);
         }
       }
     });

});
});

function expand_task(data_obj) {

//sending json to get back the data to show expanded version
  $(document).ready(function() {
  $(".status_of_task").click(function () {
    var task_id = $(this).val();
    var status = $(this).is(":checked");

    var obj = {'id':task_id};
    //console.log(obj);
    $.ajax({
         url: '/get/details/',
         data: obj,
         dataType: 'json',
         success: function (data) {
           //console.log(data.data_deliverd);
           if (data.data_deliverd) {
             make_table(data);
           }
         }
       });

  });
  });


}



//to make expandable blocks
function expand_tab(table_id) {
  var x,i;
  x = document.getElementsByClassName('task_description');
  for (i = 0; i < x.length; i++){
    x[i].hidden = "true";
  }
//console.log("table id " + table_id);
document.getElementById(table_id).hidden = false;
//console.log(document.getElementById(table_id).hidden);
}


</script>

</head>
<body>
<div id = "container">
  <h1>
    Yo! Lets plan something.
  </h1>
  <div id ="scheduled_tasks">
    <h2>
      Scheduled Tasks
    </h2>
    {% if scheduled_tasks %}
    <ul id = "Tasks">
      <h3>Tasks</h3>
      {% for task in scheduled_tasks %}
      {% if task.task_done_flag == 0%}
        <script>
        var id_for_span = "span_task_";
        var id_for_checkbox = "checkbox_task_";
        var id_for_expand_tab = "tab_";
        var table_id = "table_";
        var task_title = "{{ task.task_title }}";
        var task_description = "{{ task.task_description }}";
        var task_published = "{{ task.published_on }}";
        var task_scheduled = "{{ task.scheduled_on }}";
        var task_done_flag = "{{ task.task_done_flag }}";
        //console.log(task_title + "The");
        table_id += {{ task.id}};
        id_for_expand_tab += {{ task.id}};
        id_for_span += {{ task.id }};
        id_for_checkbox += {{ task.id }};
        //console.log(id_for_span);
        $.task_list_jQuery(table_id,id_for_checkbox, id_for_span, id_for_expand_tab, "{{ task.task_title }}", "{{ task.id }}", task_done_flag);
        $.task_description_jQuery(table_id,task_title,task_description,task_published,task_scheduled,task_done_flag,id_for_expand_tab);
        </script>
      {% endif %}
      {% endfor %}

      {% for task in scheduled_tasks %}
      {% if task.task_done_flag != 0 %}
        <script>
        var id_for_span = "span_task_";
        var id_for_checkbox = "checkbox_task_";
        var id_for_expand_tab = "tab_";
        var table_id = "table_";
        var task_title = "{{ task.task_title }}";
        var task_description = "{{ task.task_description }}";
        var task_published = "{{ task.published_on }}";
        var task_scheduled = "{{ task.scheduled_on }}";
        var task_done_flag = "{{ task.task_done_flag }}";
        //console.log(task_title + "The");
        table_id += {{ task.id}};
        id_for_expand_tab += {{ task.id}};
        id_for_span += {{ task.id }};
        id_for_checkbox += {{ task.id }};
        //console.log(id_for_span);
        $.task_list_jQuery(table_id,id_for_checkbox, id_for_span, id_for_expand_tab, "{{ task.task_title }}", "{{ task.id }}", task_done_flag);
        $.task_description_jQuery(table_id,task_title,task_description,task_published,task_scheduled,task_done_flag,id_for_expand_tab);
        </script>
      {% endif %}
      {% endfor %}
    </ul>
    {% else %}
    No Schedulded Task.
  {% endif %}


  </div>
</div>
<script>
</script>

</body>
</html>
