<html>
<head>

  <title>
    Dashboard
  </title>

<style>



</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
//to make the text have a line through it if the task is done.
function make_strike(id_name){
  var checkbox_id = "checkbox_task_";
  checkbox_id += id_name.slice(10, );
  // console.log("CHECKBOX------");
  var checkbox = document.getElementById(checkbox_id);
  // console.log(checkbox);


    if(!checkbox.checked){
      document.getElementById(id_name).style.textDecoration = null;

    }
    else{
      document.getElementById(id_name).style.textDecoration = "line-through";
    }
}

$.task_list_jQuery = function(table_id, id_for_checkbox, id_for_span, id_for_expand_tab, task_title, task_id,task_status) {
      li = document.createElement("li");
      li.id = id_for_expand_tab;
      li.class = "task_li"
      input = document.createElement("input");
      input.id = id_for_checkbox;
      input.className = "status_of_task";
      input.type = "checkbox";
      input.value = task_id;
      // console.log("CHECKBOX++++++  " + task_status);
      if (task_status == "True"){
        input.checked = true;
      }
      else{
        input.checked = false;
      }
      span = document.createElement("span");
      span.id = id_for_span;
      if (task_status == "True"){
      span.style.textDecoration = "line-through";
      }
      span.className = "task_title";
      //console.log("tab to expand" + id_for_expand_tab);
      span.onclick = function(){expand_tab(table_id);};
      span.textContent = task_title;
      li.appendChild(input);
      li.appendChild(span);
      ul = document.getElementById("Tasks");
      ul.appendChild(li);
  };
$.task_description_jQuery = function(table_id,task_title,task_description,
  task_published_date,task_scheduled,task_done_flag,li_name){
    div = document.createElement("div");

    table = document.createElement("table");
    table.className = "task_description";
    table.id = table_id
    table.hidden ="true";

    tr_title = document.createElement("tr");
    th_title = document.createElement("th");
    th_title.textContent = "Title";
    td_title = document.createElement("td");
    td_title.textContent = task_title;
    tr_title.appendChild(th_title);
    tr_title.appendChild(td_title);
    table.appendChild(tr_title);

    tr_description = document.createElement("tr");
    th_description = document.createElement("th");
    th_description.textContent = "Description";
    td_description = document.createElement("td");
    td_description.textContent = task_description;
    tr_description.appendChild(th_description);
    tr_description.appendChild(td_description);
    table.appendChild(tr_description);


    tr_published = document.createElement("tr");
    th_published = document.createElement("th");
    th_published.textContent = "Published on";
    td_published = document.createElement("td");
    td_published.textContent = task_published_date;
    tr_published.appendChild(th_published);
    tr_published.appendChild(td_published);
    table.appendChild(tr_published);


    tr_scheduled =  document.createElement("tr");
    th_scheduled = document.createElement("th");
    th_scheduled.textContent = "Schecduled for";
    td_scheduled = document.createElement("td");
    td_scheduled.textContent = task_scheduled;
    tr_scheduled.appendChild(th_scheduled);
    tr_scheduled.appendChild(td_scheduled);
    table.appendChild(tr_scheduled);


    tr_status = document.createElement("tr");
    th_status = document.createElement("th");
    th_status.textContent = "Status";
    td_status = document.createElement("td");
    td_status.textContent = task_done_flag;
    tr_status.appendChild(th_status);
    tr_status.appendChild(td_status);
    table.appendChild(tr_status);
    //console.log(table)
    table.border = "solid";
    table.width = "500px";
    div.appendChild(table)
    document.getElementById(li_name).appendChild(div);
    // <table>
    //   <tr><th>Thead</th><th>Th</th></tr>
    //   <tr><th>Thead</th><th>Th</th></tr>
    // </table>

}



//sending json object to update database
$(document).ready(function() {
$(".status_of_task").click(function () {
  var task_id = $(this).val();
  var status = $(this).is(":checked");

  var obj = {'id':task_id,'status':status};
  //console.log(obj);
  $.ajax({
       url: '/change_task_status/',
       data: obj,
       dataType: 'json',
       success: function (data) {
         // console.log(data.data_saved);
         // console.log("yo");
         if (data.data_saved) {
           make_strike(data.span_id);
           // console.log("ypo");
         }
       }
     });

});
});





//to make expandable blocks
function expand_tab(table_id) {
  var x,i;
  x = document.getElementsByClassName('task_description');
  for (i = 0; i < x.length; i++){
    x[i].hidden = "true";
  }
//console.log("table id " + table_id);
document.getElementById(table_id).hidden = false;
//console.log(document.getElementById(table_id).hidden);
}

function show_form() {
    var element = document.getElementById("form");
    element.hidden = ! element.hidden;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

var title,description,date,time,obj;
function add_new_task() {
  title = document.getElementById("form_title").value;
  description = document.getElementById("form_description").value;
  date = document.getElementById("form_date").value;
  time = document.getElementById("form_time").value;
  obj = {'task_title' : title, 'task_description' : description,
  'scheduled_on_date' : date, 'scheduled_on_time' : time};
  //sending json to save data in database
    $(document).ready(function() {
      // console.log(obj);
      $.ajax({
           url: '/save_task/',
           data: obj,
           method: "POST",
           dataType: 'json',

           success: function (data) {
             // console.log(data.message);
             if (data.message=='Task Saved') {
               alert("Saved");
               location.href = location.href;
             }
           }
         });

    });
}
</script>

</head>
<body>
<div id = "container">
  <h1>
    Yo! Lets plan something.
  </h1>
  <div class = "form-container" style="float:right; margin-top:0px;margin-right:400px;">
  <form method = "post" id = "form" hidden="true">
    <h1>Task Form</h1>
    <label>Task Title</label><br><input type = "text" id="form_title"><br>
    <label>Task Description</label><br><input type = "text" id="form_description"><br>
    <label>Scheduled Date</label><br><input type = "date" id="form_date"><br>
    <label>Scheduled Time</label><br><input type = "time" id="form_time"><br>
    <input type="button" onclick="add_new_task()" value="Add this task"/>
  </form>
  </div>

  <div id ="scheduled_tasks" style="float:left;width:750px;">
    <h2>
      Scheduled Tasks
    </h2>
    {% if scheduled_tasks %}
    <ul id = "Tasks">
      <h3>Tasks</h3>
      {% for task in scheduled_tasks %}
      {% if task.task_done_flag == 0%}
        <script>
        var id_for_span = "span_task_";
        var id_for_checkbox = "checkbox_task_";
        var id_for_expand_tab = "tab_";
        var table_id = "table_";
        var task_title = "{{ task.task_title }}";
        var task_description = "{{ task.task_description }}";
        var task_published = "{{ task.published_on }}";
        var task_scheduled = "{{ task.scheduled_on }}";
        var task_done_flag = "{{ task.task_done_flag }}";
        //console.log(task_title + "The");
        table_id += {{ task.id}};
        id_for_expand_tab += {{ task.id}};
        id_for_span += {{ task.id }};
        id_for_checkbox += {{ task.id }};
        //console.log(id_for_span);
        $.task_list_jQuery(table_id,id_for_checkbox, id_for_span, id_for_expand_tab, "{{ task.task_title }}", "{{ task.id }}", task_done_flag);
        $.task_description_jQuery(table_id,task_title,task_description,task_published,task_scheduled,task_done_flag,id_for_expand_tab);
        </script>
      {% endif %}
      {% endfor %}

      {% for task in scheduled_tasks %}
      {% if task.task_done_flag != 0 %}
        <script>
        var id_for_span = "span_task_";
        var id_for_checkbox = "checkbox_task_";
        var id_for_expand_tab = "tab_";
        var table_id = "table_";
        var task_title = "{{ task.task_title }}";
        var task_description = "{{ task.task_description }}";
        var task_published = "{{ task.published_on }}";
        var task_scheduled = "{{ task.scheduled_on }}";
        var task_done_flag = "{{ task.task_done_flag }}";
        //console.log(task_title + "The");
        table_id += {{ task.id }};
        id_for_expand_tab += {{ task.id}};
        id_for_span += {{ task.id }};
        id_for_checkbox += {{ task.id }};
        //console.log(id_for_span);
        $.task_list_jQuery(table_id,id_for_checkbox, id_for_span, id_for_expand_tab, "{{ task.task_title }}", "{{ task.id }}", task_done_flag);
        $.task_description_jQuery(table_id,task_title,task_description,task_published,task_scheduled,task_done_flag,id_for_expand_tab);
        </script>
      {% endif %}
      {% endfor %}
    </ul>
    {% else %}
    No Schedulded Task.
  {% endif %}
  <button onclick="show_form()">Add Task</button>

</div>

</div>
<script>
</script>

</body>
</html>
